@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  font-family: "Spartan", sans-serif;
  font-size: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  max-width: 31.25rem;
  margin: 3rem auto;
}

.header {
  text-align: center;
  margin-bottom: 2.5rem;
}

.header__content--large {
  color: #502050;
  margin: 1.5rem;
  margin-bottom: 2rem;
}

.header__content--subtag {
  color: #937b92;
  margin: 1.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.7;
}

.header__review {
  background: #f7f2f7;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
}

.header__review--stars {
  margin-bottom: 0.5rem;
}

.header__review--text {
  font-weight: 700;
  color: #502050;
}

.card {
  background: #502050;
  padding: 2rem 1.5rem;
  border-radius: 10px;
  margin: 1rem;
  color: white;
}

.card__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

.card__user--content {
  margin-left: 1rem;
}

.card__profile {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.card__name {
  font-size: 0.9375rem;
  margin-bottom: 0.25rem;
}

.card__verified {
  color: rgba(238, 104, 164, 0.5);
}

.card__text {
  color: #f7f2f7;
  line-height: 1.7;
  font-size: 0.890625rem;
}

@media only screen and (max-width: 15.875rem) {
  .card__user {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card__user--content {
    margin: unset;
    margin-top: 1rem;
  }
  2 .card__text {
    text-align: center;
  }
}

@media only screen and (min-width: 50rem) {
  body {
    font-size: 0.9375rem;
  }
  .container {
    max-width: 56.25rem;
    margin: 3rem auto;
    padding: 0 1rem;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: unset;
    margin-bottom: 3rem;
  }
  .header__content {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    margin-bottom: unset;
  }
  .header__content--large {
    font-size: 2.5rem;
  }
  .header__content--subtag {
    font-size: 0.9375rem;
  }
  .header__reviews {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header__review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 385px;
    min-width: 385px;
    margin: 0.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__review--stars {
    margin-bottom: unset;
    margin-right: 1rem;
  }
  .header .testimonials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .testimonials {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "colton colton" "irene anne";
    gap: 1rem;
    padding: 1rem;
  }
  .card {
    min-width: 250px;
    margin: unset;
  }
  .card--1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: colton;
  }
  .card--2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: irene;
  }
  .card--3 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: anne;
  }
}

@media only screen and (min-width: 67.5rem) {
  .container {
    max-width: 75rem;
  }
  .header__content {
    -webkit-box-flex: 45%;
        -ms-flex: 45%;
            flex: 45%;
  }
  .header__content--large {
    font-size: 3rem;
  }
  .header__content--subtag {
    font-size: 0.9375rem;
  }
  .header__reviews {
    -webkit-box-flex: 55%;
        -ms-flex: 55%;
            flex: 55%;
    padding: 0 2rem;
  }
  .header__review {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__review-1 {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .header__review-2 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header__review-3 {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .testimonials {
        grid-template-areas: unset;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .card--1, .card--2, .card--3 {
    grid-area: unset;
  }
  .card--2 {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  .card--3 {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
}

@media only screen and (min-width: 81.25rem) {
  body {
    background-color: #f7f2f7;
  }
  .container-container {
    padding: 2rem;
    -webkit-box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
    border-radius: 0.9375rem;
    background: white;
  }
  .container {
    max-width: 74.1875rem;
  }
  .header__content {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
  }
  .header__content--large {
    font-size: 3rem;
  }
  .header__reviews {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    justify-self: flex-end;
  }
  .card {
    max-width: 24.0625rem;
  }
  .card__text {
    font-size: 0.875rem;
  }
  .attribution {
    visibility: unset;
  }
}
/*# sourceMappingURL=main.css.map */